name: Destroy AWS infrastructure

on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: self-hosted
    permissions:
      id-token: write
      contents: read

    defaults:
      run:
        working-directory: Infra/core

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::760981412376:role/github-actions-terraform-role
          aws-region: eu-central-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Init
        run: terraform init -input=false -reconfigure

      - name: Terraform Unlock (fallback)
        run: terraform force-unlock -force 1234567890 || true

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -lock=false -var "db_master_password=ChangeMe_StrongPW!"
